* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

img {
    width: 50%;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.section_padding {
    padding: 50px 10px;
}

/* ========================= */
.header_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.header-sectoin {
    padding: 20px 5%;
    position: relative;
}

a.logo {
    color: #000;
    font-size: 25px;
    font-weight: 900;
    font-family: ui-monospace;
}

a.logo span {
    color: #d11bd1;
}

.right-btn i {
    color: #d11bd1;
    font-size: 30px;
    cursor: pointer;
}

/* ========================= */
.cart_products.active {
    display: block;
    transition: 0.5s;
}

.cart_products {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10001;
    background: #fff;
    min-height: 400px;
    width: 350px;
    padding: 50px 15px;
    box-shadow: 0px 3px 15px #666;
    border-radius: 4px;
    transition: 0.5s;
}

.box {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f5f5f5;
    padding: 10px 0 15px;
}

.box img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.cart_products h2 {
    color: #333;
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 7px;
}

.cart_products h2 {
    color: #333;
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 7px;
}

.cart_info h3 {
    color: #555;
    font-weight: 500;
    font-size: 18px;
}

.price {
    color: #444;
    font-size: 18px;
    font-weight: 600;
}

.price_info {
    margin-top: 40px;
    background: rgb(209, 27, 209);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    color: #fff;
}

.price_info h3 {
    font-size: 25px;
}

.close_icon {
    position: absolute;
    top: 14px;
    right: 0;
    margin: 10px;
    cursor: pointer;
}

.close_icon i {
    font-size: 20px;
    padding: 10px;
    background: #f8f8f8;
    margin: 5px;
    border-radius: 50%;
}

.close_icon i:hover {
    box-shadow: 0px 0px 2px #b0aeae;
}

/* ========================= */
.banner_section {
    background-image: url(./img//banner_img.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 400px;
    position: relative;
    z-index: 1;
    color: #fff;
    width: 100%;
    background-attachment: fixed;

}

.banner_section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    opacity: .8;
}

.banner_section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner_text h1 {
    font-size: 50px;
}

/* ===================== */
.products_item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    justify-content: center;
    align-items: self-start;
    gap: 20px;
}

.single_item {
    border: 1px solid #ebebeb;
    padding: 20px 12px;
    border-radius: 8px;

}

.single_item img {
    width: 100%;
    height: 250px;
}

.item_info {
    padding: 20px 0 0 0;

}

.item_info h2 {
    color: #5e065e;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 10px;
}

.item_info p {
    color: #808080;
    font-size: 16px;
    line-height: 20px;

}

.item_footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_1 {
    font-size: 25px;
    color: #444444;
    font-weight: 700;
}

.btn_2 {
    background-color: rgb(209, 27, 209);
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease-in;
}

.btn_2:hover {
    letter-spacing: 1px;
}